
.actionlog{
	
}

#main{
	width:350px;
	margin-left:30%;
}
.ids{
	margin-top:30px;
	margin-left:20px;
	position:relative;
}
.ids > input{
	position:absolute;
	left:30%;
	width:60%;
	border:solid;
}
form{
	border:solid;
	box-shadow:2px 2px 5px black;
}
.button{
	margin-top:30px;
	margin-left:50px;
	margin-bottom:30px;
}
input [value="Annuler"]{
	margin-left:10%
}

span{
	margin_right:20px;
}




