
body {
	background: #1C1C1C;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin:0;
	padding:0;
}

#titre {
	font-size: 40px;
	color: #B8DA40;
	margin:0;
}

#connectlog{
	color: #00C0FF;
	text-decoration: none;
}

#connectlog>a{
	color: #00C0FF;
	text-decoration: none;
}

#main{
	position:relative;
	margin:auto;
	color: #d5d5d5;
	width: 500px;
	margin-top:80px;
	margin-bottom:200px;
}
.ids{
	color: #00C0FF;
	text-decoration: none;
}
.ids > input{
	float:right;
	width: 30%;
	margin: 0 30% 0 4%;
	display: inline-block;
}

.button{
	margin-top:30px;
	margin-left:50px;
	margin-bottom:30px;
}
input [value="Annuler"]{
	margin-left:10%
}

span{
	margin_right:20px;
}




